@use "variables" as vars;

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-right: vars.$dotted-border;
    padding: 1rem;
    font-family: vars.$font-title-family;

    .logo {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        width: 100%; // Ensure logo scales with the width of the header

        img {
            max-width: 80%;
            height: auto;
            width: 100%; // Ensure the logo scales with the header width
        }
    }

    .menu {
        width: 100%; // Ensure the menu spans the full header width
        list-style: none;
        padding: 0;

        li {
            margin: 1rem 0;

            a {
                text-decoration: none;
                color: vars.$font-color;
                font-family: vars.$font-title-family;
                font-weight: bold;
                text-transform: uppercase;
                font-size: vars.$font-size-subtitle; // Apply responsive font size here

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .menu-toggle {
        display: none;
    }

    @media (max-width: 768px) {
        justify-content: center;
        align-items: center;
        border-right: none;
        border-bottom: vars.$dotted-border;

        .menu {
            display: none;

            &.expanded {
                display: block;
            }

            li {
                a {
                    text-align: center;
                    font-size: 1.5rem; // Adjust font size on mobile
                }
            }
        }

        .logo {
            img {
                max-width: 60%;
            }
        }

        .menu-toggle {
            display: block; // Show menu toggle on mobile
            cursor: pointer;
            font-family: vars.$font-title-family;
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
    }
}
