@use "variables" as vars;

.layout {
    display: grid;
    grid-template-columns: 18.75rem 1fr;
    grid-template-rows: auto;
    min-height: 100vh;

    main {
        grid-column: 2;
        grid-row: 1;
        padding: 2rem;
        font-family: vars.$font-body;
        color: vars.$font-color;
        font-size: vars.$font-size-base; // Apply responsive font size here
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr; // Switch to a single-column layout
        grid-template-rows: auto auto; // Two rows: header and main

        main {
            grid-column: 1; // Span the single column
            grid-row: 2; // Move main to the second row
            padding: 1rem; // Adjust padding for smaller screens
            font-size: vars.$font-size-base; // Use responsive font size for mobile
        }
    }
}
