@use "variables" as vars;

main {
    font-family: vars.$font-body;
    font-weight: normal;

    h1 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: vars.$font-size-title;
    }

    p {
        text-align: justify;
    }

    h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: vars.$font-size-subtitle;
    }
}
