$font-size-base: clamp(1rem, 2vw, 1.5rem);
$font-size-title: clamp(2rem, 5vw, 3rem);
$font-size-subtitle: clamp(1.5rem, 3vw, 2.5rem);
$font-color: #050505;
$border-color: #050505;
$dotted-border: 5px dashed $border-color;
$font-body: "Barlow Condensed", sans-serif;
$font-title-family: "Barlow Condensed", sans-serif;
